extends layout

block content
  h1= title
  p Welcome to #{title}
  #chart(style="width: 600px; height: 400px;")
  script.
    var chartoptions = !{data}       
    var chart = echarts.init(document.getElementById('chart'));
    chart.setOption(chartoptions);	chart.render();
